<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ZaloApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zalo"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.IncomingAudioCallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.IncomingVideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OutgoingAudioCallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OutgoingVideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.InforActivity"
            android:exported="false" />

        <activity
            android:name=".ui.activities.SignUpPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Zalo" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="vn.edu.ou.zalo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.activities.FriendRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignUpAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignUpEnterMorePersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignUpEnterNameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ZaloActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>